
.top_content {
  width:100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 20px 30px;

}
.title {
  font-family: 'Poppins', sans-serif;
  color: #111826;
  font-size: 48px;
  line-height: 60px;
  text-align: left;
  font-weight: 400;
}

.slider-arrow {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
}
.button {
    width: 56px;
    height:56px;
    background-color: transparent;
    border-radius: 50px;
    border: 1px solid #111826;
    margin-right: 8px;
    cursor: pointer;
    top:50px;
    left:10px;
    align-items: center;
    justify-content: center;
    padding:15px 18px;
}



.carousel {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 50px 30px;
}

.dots {
  display: block;
  margin: auto;
  padding: 0;
  border-radius: 40px;
  text-align: center;
  margin-top: 24px
}
.dots li button {
  border: none;
  background: #C4DDDB;
  color: transparent;
  cursor: pointer;
  display: block;
  height: 4px;
  width: 48px;
  border-radius: 32px;
  margin-top: 40px;
}
.dots li {
  list-style: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 2px;
  padding: 0;
}
.dots li.slick-active button {
  background-color: #28B8A7;
}


.quotation {
  width: 29px;
  height:25px;
}

.text_content {
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: 200;
  text-align:left;
  font-style: italic;
  color: #4B5562;
  margin: 20px 0;
}

.avatar_container {
  flex-direction: row;
  display:flex;
  align-items:center;
}

.avatar_container img {
  width: 40px;
  height:40px;
  margin-right: 20px;
  border-radius: 50%;
}

.avatar_container p {
    color:#111826;
    font-family: 'Poppins', sans-serif;
    font-size:16px;
    font-weight:200;
}

.avatar_container span {
  color:#111826;
  font-family: 'Poppins', sans-serif;
  font-size:16px;
  font-weight:600;
}

@media screen and (max-width: 768px) {
  .top_content {
    padding: 10px 20px;

  }
  .text_content {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 200;
    text-align:left;
    font-style: italic;
    color: #4B5562;
  }
  .title {
    font-size: 20px;
    line-height: 32px;
  }
  .button {
    width:40px;
    height:40px;
    padding:7px 10px;

  }
  .carousel {
    justify-content: center;
    padding: 10px 20px;
    width:100%;
  }
  .dots li button {
    width: 28px;

  }
}
